.hero__header {
  color: #985ff3;
}
.hero__subtitle {
  color: #263238;
}

a {
  text-decoration: none;
}

.hero {
  position: relative;
  top: 8%;
  background: rgb(237, 224, 224);
  background: linear-gradient(
    127deg,
    rgba(237, 224, 224, 1) 55%,
    rgba(152, 95, 243, 1) 100%
  );
  padding-bottom: 50px;
}

.text__container {
  padding: 0 50px;
}

.hero__buttons {
  border: none;
  display: block;
  color: #ede0e0;
  background-color: #8446e9;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
.hero__buttons:hover {
  background-color: #985ff3;
}
.hero__img {
  max-width: 700px;
}
.hero__header {
  font-size: 42px;
}

.hero__subtitle {
  margin-bottom: 30px;
  font-size: 17px;
}

.hero__btn-container {
  display: flex;
  gap: 6px;
}

.why-adda__container {
  padding-top: 30px;
  background-color: #ede0e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.why-adda__text-container {
  padding: 0 7%;
  padding-bottom: 20px;
}
.why-adda__text-why {
  color: blue;
  margin-bottom: 0;
}
.why-adda__header {
  margin-top: 0;
  color: #8446e9;
  font-size: 32px;
  margin-bottom: 0px;
}

.why-adda__subtitle {
  color: #263238;
  font-size: 17px;
}

.why-adda-cards {
  height: 300px;
  width: 300px;
  color: #8446e9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.why-add-card-img-container {
  width: 220px;
}
.why-adda__card-img {
  height: 200px;
}
.why-adda__card-header {
  color: #8446e9;
  margin-bottom: 0;
  font-size: 20px;
}
.why-adda__card-text {
  color: #263238;
  text-align: center;
}
@media (min-width: 768px) {
  .hero {
    top: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10px;
    align-items: center;
    max-height: 800px;
  }
  .why-add__card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .why-adda__text-container {
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .why-adda__subtitle {
    max-width: 700px;
    text-align: center;
  }

  .why-adda__container {
    padding: 0 7%;
  }
  .hero__img {
    min-width: 400px;
  }
  .text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 7%;
  }
  .image__container {
    width: 50%;
  }
}
@media (min-width: 1800px) {
  .why-add__card-container {
    gap: 60px;
    justify-content: space-around;
  }
}

/* footer stuff */
.footer {
  background-color: #263238;
  color: #ede0e0;
  padding: 0 5%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
@media (min-width: 1280px) {
  .footer {
    padding: 1rem 10% 1rem;
  }
}
@media (min-width: 768px) {
  .footer__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .footer__top-left {
    display: flex;
    align-items: center;
  }
}
.footer__title {
  padding-top: 1.5rem;
  margin-top: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
  }
}
@media (min-width: 768px) {
  .footer__social {
    padding-left: 1.7rem;
  }
}
.footer__icon {
  padding-right: 1.1rem;
  text-decoration: none;
}
.footer__icon-svg {
  width: 1.7rem;
  height: 1.7rem;
}
.footer__copyright {
  margin-top: 1rem;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .footer__copyright--moible {
    display: none;
  }
}
.footer__copyright--tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__copyright--tablet {
    display: block;
  }
}
/* .footer__right {
  margin-top: 1.875rem;
} */

@media (min-width: 768px) {
  .contact-info {
    display: flex;
    justify-content: space-;
  }
}
.contact-info__list {
  list-style: none;
  padding-left: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  padding-bottom: 0.7rem;
}
@media (min-width: 768px) {
  .contact-info__list {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.contact-info__item {
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .contact-info__item {
    margin-right: 2rem;
    padding-bottom: 0.7rem;
  }
}
.contact-info__item--bold {
  font-weight: 600;
}
.contact-info__email {
  text-decoration: none;
  color: #ede0e0;
}
.navigation__logo {
  color: #ffffff;
  font-size: 1.625rem;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .navigation__logo {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .navigation__logo--mobile {
    display: none;
  }
}
.navigation__logo--desktop {
  display: none;
}
@media (min-width: 768px) {
  .navigation__logo--desktop {
    display: block;
  }
}
.navigation__svg {
  max-width: 7.5rem;
}
@media (min-width: 768px) {
  .navigation__svg {
    margin-bottom: 0.25rem;
  }
}
